/* Estilos base para todas las ContentCard */
.content-card {
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.content-card .container{
    padding: 40px 40px 80px 40px;
}

.content-card > div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-card .title {
    transform: scaleX(1.4);
    text-align: center;
    transform-origin: center;   
    overflow: hidden;
    width: 60%;
    margin-top: 0;
    margin-bottom: 1.5vw;
}

.content-card .title h2 {
    margin: 0;
    width: 100%;
}

