@import url('../ui/translate.css');

header {
    width: 100%;
    height: 25px;
    padding: 1rem 2rem;
    position: relative;

       background: rgba(30, 30, 30, 0.55);
    backdrop-filter: blur(12px);


    border-bottom: 1px solid rgba(255, 255, 255, 0.671);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    flex: 1;
}

header .logo h3 {
    margin: 0;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
