@import url('../ui/translate.css');

nav {
    position: fixed;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    display: flex;
    align-items: center;
    gap: 30px;

    background: rgba(30, 30, 30, 0.55);
    backdrop-filter: blur(12px);

    border-radius: 20px;
    padding: 8px 32px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.pages {
    display: flex;
    align-items: center;
    gap: 20px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);

    color: white;
    text-decoration: none;
    font-size: 0.75rem;

    transition: 0.25s ease;
}

.page:hover {
    background: rgba(255, 255, 255, 0.20);
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.page .icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
    opacity: 0.85;
    transition: 0.2s ease;
}

.page:hover .icon {
    opacity: 1;
}